* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* UTILITY */
body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: rgb(139, 139, 139);
    background-color: rgb(20,25,34);
}

.wrapper {
    width: 100%;
    height: 100vh;
}

.bold_text {
    font-weight: bold;
}
.white_text {
    color: white;
}

li {
    list-style: none;
}

a {
    color: rgb(139, 139, 139);
}
a:hover {
    color: white;
    text-decoration: none;
}
.title_area {
    margin-bottom: 20px;
}
h2 {
    font-size: 1.5em;
}
.ms_flex {
    display: flex;
}
/* SIDE NAV */
.side_nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 300px;
    height: calc(100% - 90px);
    flex-direction: column;
    background-color: black;
}
.side_nav_menu_container {
    width: 100%;
    height: calc(100% - 90px);
    min-height: 250px;
    justify-content: flex-start;
}
    /* side main menu - sezione logo */
.side_nav_menu_container > .side_main_menu {
    width: 100%;
    height: 220px;
}
.side_main_menu > #logo_big {
    margin-top: 10px;
    margin-left: 10px;
    width: 150px;
}
    /* side main menu - sezione menu principale */
.side_main_menu > .main_menu {
    margin: 30px 0;
    flex-direction: column;   
}
.side_main_menu > .main_menu.ms_hidden_xs li {
    border-left: 5px solid black;
    padding-left: 15px;
}
.side_main_menu > .main_menu.ms_hidden_xs li:first-child {
    border-left: 5px solid rgb(50, 247, 50);
    padding-left: 15px;
}

.side_main_menu > ul a {
    display: flex;
    flex-direction: row;
}
.side_main_menu > ul svg {
    width: 30px;
    height: 30px;
    align-self: center;
    fill:  rgb(187, 187, 187);
}
.side_main_menu > ul a:hover svg {
    fill: white;
}
.side_main_menu > ul h4 {
    margin-left: 10px;
    align-self: baseline;
}
    /* side main menu - sezione playlist menu */
.side_nav_menu_container > .playlist_menu {
    width: 100%;
    height: calc(100% - 220px);
    padding-left: 20px;
    justify-content: center;
    overflow-y: scroll;
}
.playlist_menu.ms_hidden_xs > .add_new_container > a {
    display: flex;
    flex-direction: row;
}
.add_new_square {
    width: 40px;
    height: 40px;
    background-color: rgb(187, 187, 187);
    text-align: center;
    font-size: 18px;
    line-height: 40px;
    color: black;
}
.playlist_menu.ms_hidden_xs p {
    align-self: center;
    margin-bottom: 0;
    margin-left: 10px;
}
.playlist_menu.ms_hidden_xs > .add_new_container > a:hover .add_new_square{
    background-color: white;
}
.playlist_menu.ms_hidden_xs > .add_new_container > a:hover p {
    color: white;
}

.playlist_list li {
    margin: 10px 0;
}
    /* gestione utente */
.gestione_utente {
    width: 100%;
    min-height: 90px;
    padding: 10px;
    justify-content: flex-end;
}
.gestione_utente > .app_installer {
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border-bottom: 1px solid dimgray;
}
.gestione_utente > .app_installer > a{
    display: flex;
    align-items: center;
}
.gestione_utente > .app_installer svg {
    width: 20px;
    margin-right: 10px;
    stroke: rgb(187, 187, 187);
}
.gestione_utente > .app_installer a:hover svg {
    stroke: white;
}
.gestione_utente > .profile {
    padding: 10px 10px 0;
}
.gestione_utente > .profile > a {
    display: flex;
}
.gestione_utente > .profile .profile_icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgb(187, 187, 187);
    background-image: url('../img/profile.svg');
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}
.gestione_utente > .profile #profile_Name {
    margin-left: 10px;
    align-self: center;
}


/* MAIN CONTENT */
.main_content_box {
    width: calc(100% - 300px);
    height: 100%;
    padding-bottom: 90px;
    position: fixed;
    top: 0;
    left: 300px;
    overflow-y: scroll;
}

    /* gestione overlay */
.main_content_box > .overlay {
    width: 100%;
    height: 90px;
    position: fixed;
    top: 0;
    left: 300px;
    z-index: 999;
    background-color: rgba(48, 47, 50, 0.53);
}
.main_content_box > .overlay > .upgrade_button {
    display: inline-block;
    padding: 5px 20px;
    border: 2px solid rgb(146, 146, 152);
    border-radius: 40px;
    color: rgb(195, 195, 199);
    font-size: smaller;
    position: fixed;
    top: 23px;
    right: 25px;
    z-index: 999;
}
.main_content_box > .overlay > .upgrade_button:hover {
    display: inline-block;
    padding: 10px 40px;  
    font-size: 1em;
    position: fixed;
    top: 21px;
    right: 28px;
    z-index: 999;
}
    /* fine gestione overlay */

.main_content_box > .main_content {
    padding-top: 90px;
    padding-left: 20px;
}
.main_content > .content_nav {
    text-align: center;
}
.main_content > .content_nav > .content_nav_item {
    display: inline-block;
    margin: 10px;
}
.content_nav_item > .horizontal_green_bar {
    width: 40px;
    border: 2px solid rgb(50, 247, 50);
    background-color: rgb(50, 247, 50);
    margin: 0 auto;
}

.main_content_box > .main_content section {
    margin-bottom: 20px;
}
.main_content_box > .main_content section .ms_row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

section img {
    max-width: 130px;
    max-height: 130px;
    margin-right: 10px;
    margin-bottom: 10px;
}
section img.round_shape {
    width: 130px;
    height: 130px;
    margin-right: 10px;
    border-radius: 50%;
}
#recently_played > .ms_row div,
#populars > .ms_row div,
#created_for > .ms_row div {
    display: flex;
    flex-direction: column;
}
.info_album {
    max-width: 130px;
}
section h5 {
    font-size: 0.8em;
    align-self: center;
}
section p {
    font-size: 0.8em;
    color: rgb(139, 139, 139);
    align-self: center;
}
    /* overlay degli element */
#recently_played > .ms_row > li > a > .element,
#created_for > .ms_row > li > a > .element,
#populars > .ms_row > li > a > .element {
  position: relative;
}
#recently_played > .ms_row > li > a > .element:hover .ms_hover_green,
#created_for > .ms_row > li > a > .element:hover .ms_hover_green,
#populars > .ms_row > li > a > .element:hover .ms_hover_green {
  display: block;
}
#recently_played > .ms_row > li > a > .element > img,
#created_for > .ms_row > li > a > .element > img,
#populars > .ms_row > li > a > .element > img {
  max-width: 130px;
  max-height: 130px;
  overflow: hidden;
  cursor: pointer;
}
#recently_played > .ms_row > li > a > .element > .ms_hover_green,
#created_for > .ms_row > li > a > .element > .ms_hover_green,
#populars > .ms_row > li > a > .element > .ms_hover_green {
  width: 130px;
  height: 130px;
  background-color: rgba(54, 54, 54, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}
#populars > .ms_row > li > a > .element > .ms_hover_green {
    border-radius: 50%;
}
.ms_play_icon {
  font-size: 70px;
  color: rgb(255,255,255);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
    /* fine overlay degli element */

/* FOOTER */
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 90px;
    background-color: rgb(40,40,40);
    font-size: 0.6em;
}
.player.ms_flex {
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: space-between;
}
.player.ms_flex > #song_info {
    width: 25vw;
}
.player.ms_flex > #music_player {
    width: 50vw;
}
.player.ms_flex > #volume {
    width: 25vw;
}
    /* song info */
#song_info.ms_flex {
    width: 100%;
    align-items: center;
}
#song_info.ms_flex > img {
    width: 40px;
    height: 40px;
    margin: 0 1vw;
}
#song_info > .song_info_text {
    display: inline-block;
}
#song_info > .song_info_text .Album_Name,
#song_info > .song_info_text .Song_Name {
    display: block;
}
#song_info > .song_info_text:hover .Song_Name {
    text-decoration: underline;
}
#song_info > .song_info_icons {
    justify-self: flex-end;
    font-size: 1.2em;
    padding-left: 2vw;
}
    /* music player */
#music_player {
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#music_player > .player_buttons .fas,
#music_player > .player_buttons .far {
    font-size: 1.2em;
    padding: 0 0.8vw;
    color: white;
}
#music_player > .player_buttons .far.fa-play-circle {
    font-size: 1.8em;
}
#music_player > .player_bar {
    justify-content: flex-end;
}
#music_player > .player_bar div {
    display: inline-block;
}
#music_player > .player_bar > .grey_player_bar {
    width: 20vw;
    height: 3px;
    margin: 0 1vw;
    background-color: grey;
    position: relative;
}
#music_player > .player_bar > .grey_player_bar > .white_player_bar {
    width: 4vw;
    height: 3px;
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
}
#music_player > .player_bar:hover .white_player_bar {
    background-color: rgb(50, 247, 50);
}

    /* volume */
#volume {
    margin-right: 1vw;
    text-align: right;
    font-size: 1.2em;
}
#volume div {
    display: inline-block;
}
#volume .fas {
    margin-left: 1vw;
    color: white;
}
#volume > .grey_volume_bar {
    width: 7vw;
    height: 3px;
    margin-left: 1vw;
    background-color: grey;
    position: relative;
}
#volume > .grey_volume_bar > .white_volume_bar {
    width: 3vw;
    height: 3px;
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
}
#volume > .grey_volume_bar:hover .white_volume_bar {
    background-color: rgb(50, 247, 50);
}
    /* sfera barre player e volume */
#music_player > .player_bar:hover .sfera {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    top: -95%;
    left: 100%;
}
#volume > .grey_volume_bar:hover .sfera {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    top: -95%;
    left: 100%;
}

/* SMARTPHONE */
@media screen and (max-width: 599px) {
        /* side nav */
    .side_nav {
        width: 60px;
    }
    .side_main_menu {
        width: 60px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .ms_visible_xs_inline-block {
        display: inline-block;
    }
    .ms_hidden_xs {
        display: none;
    }
    .side_main_menu > #logo_small {
        margin: 10px auto 0;
        width: 70%
    }
    .side_main_menu > .main_menu.ms_visible_xs_inline-block a {
        margin-bottom: 10px;
    }
    
    .gestione_utente > .app_installer {
        padding: 0;
    }
    .gestione_utente > .app_installer,
    .gestione_utente > .profile {
        display: flex;
        justify-content: center;
    }
    .gestione_utente > .app_installer svg {
        margin-right: 0;
        margin-bottom: 10px;
    }
    .gestione_utente > .profile {
        padding: 0;
        margin-top: 10px;
    }
    
        /* main */
    .main_content_box {
        width: calc(100% - 60px);
        margin-left: 60px;
        position: fixed;
        top: 0;
        left: 0;
    }
    .main_content_box > .overlay {
        width: calc(100% - 60px);
        height: 90px;
        position: fixed;
        top: 0;
        left: 60px;
    }
    section#recently_played img,
    section#created_for img,
    section#populars img {
        max-width: 190px;
        max-height: 190px;
        margin-right: 10px;
        margin-bottom: 10px;
    }
    section#recently_played img.round_shape,
    section#created_for img.round_shape,
    section#populars img.round_shape {
        width: 190px;
        height: 190px;
        margin-right: 10px;
        border-radius: 50%;
    }

    .info_album {
        max-width: 190px;
    }

        /* overlay degli element */
    #recently_played > .ms_row > li > a > .element > img,
    #created_for > .ms_row > li > a > .element > img,
    #populars > .ms_row > li > a > .element > img {
        max-width: 190px;
        max-height: 190px;
    }
    #recently_played > .ms_row > li > a > .element > .ms_hover_green,
    #created_for > .ms_row > li > a > .element > .ms_hover_green,
    #populars > .ms_row > li > a > .element > .ms_hover_green {
        width: 190px;
        height: 190px;
    }
}

/* NAVBAR DA TABLET IN SU */
@media screen and (min-width: 600px) {
        /* side nav */
    .ms_hidden_sm {
        display: none;
    }
    .side_main_menu > .main_menu {
        margin-top: 0;
    }
}

/* TABLET */
@media screen and (min-width: 600px) and (max-width: 767px) {
    section#recently_played img,
    section#created_for img,
    section#populars img {
        max-width: 190px;
        max-height: 190px;
        margin-right: 10px;
        margin-bottom: 10px;
    }
    section#recently_played img.round_shape,
    section#created_for img.round_shape,
    section#populars img.round_shape {
        width: 190px;
        height: 190px;
        margin-right: 10px;
        border-radius: 50%;
    }

    .info_album {
        max-width: 190px;
    }

        /* overlay degli element */
    #recently_played > .ms_row > li > a > .element > img,
    #created_for > .ms_row > li > a > .element > img,
    #populars > .ms_row > li > a > .element > img {
        max-width: 190px;
        max-height: 190px;
    }
    #recently_played > .ms_row > li > a > .element > .ms_hover_green,
    #created_for > .ms_row > li > a > .element > .ms_hover_green,
    #populars > .ms_row > li > a > .element > .ms_hover_green {
        width: 190px;
        height: 190px;
    }
}
/* DESKTOP MD */
@media screen and (min-width: 768px) and (max-width: 991px) {
    section#recently_played img,
    section#created_for img,
    section#populars img {
        max-width: 140px;
        max-height: 140px;
        margin-right: 10px;
        margin-bottom: 10px;
    }
    section#recently_played img.round_shape,
    section#created_for img.round_shape,
    section#populars img.round_shape {
        width: 140px;
        height: 140px;
        margin-right: 10px;
        border-radius: 50%;
    }

    .info_album {
        max-width: 140px;
    }

        /* overlay degli element */
    #recently_played > .ms_row > li > a > .element > img,
    #created_for > .ms_row > li > a > .element > img,
    #populars > .ms_row > li > a > .element > img {
        max-width: 140px;
        max-height: 140px;
    }
    #recently_played > .ms_row > li > a > .element > .ms_hover_green,
    #created_for > .ms_row > li > a > .element > .ms_hover_green,
    #populars > .ms_row > li > a > .element > .ms_hover_green {
        width: 140px;
        height: 140px;
    }
}

/* SCROLLBAR */
/* la seguente scrollbar è stata generata al link https://w3generator.com/scrollbar per un effetto più simile agli screenshot forniti */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
::-webkit-scrollbar-thumb {
    background: #8a8a8a;
    border-radius: 10px;
}
::-webkit-scrollbar-track{
    background: #dcdcdc;
    border-radius: 10px;
    box-shadow: inset 7px 10px 12px #f5f5f5;
}

