* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}

.wrapper {
    width: 100%;
    height: 100vh;
}

/* MAIN NAV */
.main_nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 300px;
    height: calc(100% - 90px);
    padding: 10px;
    display: flex;
    flex-direction: column;
}
.nav_menu_container {
    width: 100%;
    height: calc(100% - 90px);
    min-height: 250px;
    justify-content: flex-start;
}
.nav_menu_container > .main_menu {
    width: 100%;
    height: 170px;
}
.nav_menu_container > .playlist_menu {
    width: 100%;
    height: calc(100% - 170px);
    justify-content: center;
    overflow-y: scroll;
}

.gestione_utente {
    width: 100%;
    min-height: 90px;
    justify-content: flex-end;
}

/* MAIN CONTENT */
.main_content {
    width: calc(100% - 300px);
    height: calc(100% - 90px);
    margin-left: 300px;
}

/* FOOTER */
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 90px;
}
.player.container-fluid > .row > .col-xs-4 {
    height: 90px;
    padding: 10px;
}
/* song info */
#song_info div {
    display: inline-block;
    line-height: 70px;
}
/* music player */
#music_player {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#music_player > .player_buttons {
    justify-content: flex-start;
}
#music_player > .player_bar {
    justify-content: flex-end;
}
/* volume */
#volume {
    text-align: right;
}
#volume div {
    display: inline-block;
    line-height: 70px;
}
/* SMARTPHONE */
@media screen and (max-width:767px) {
    .main_nav {
        width: 60px;
    }
    .main_content {
    width: calc(100% - 60px);
    margin-left: 60px;
    }
}

/* debug */
.ms_debug .wrapper {
    background-color: red;
}
.ms_debug .main_nav {
    background-color: blue;
}
.ms_debug .nav_menu_container {
    background-color: darkolivegreen;
}
.ms_debug .nav_menu_container > .main_menu {
    background-color: cornflowerblue;
}
.ms_debug .nav_menu_container > .playlist_menu {
    background-color: rgb(129, 230, 183);
}
.ms_debug .main_nav > .gestione_utente {
    background-color: rgb(11, 202, 202);
}
.ms_debug .main_content {
    background-color: yellow;
}
.ms_debug footer {
    background-color: pink;
}
.ms_debug .player.container-fluid > .row > .col-xs-4 {
    border: 1px solid black;
}