* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}

.wrapper {
    width: 100%;
    height: 100vh;
}

/* main nav */
.main_nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 300px;
    height: calc(100% - 90px);
    padding: 10px;
    display: flex;
    flex-direction: column;
}
.nav_menu_container {
    width: 100%;
    height: calc(100% - 90px);
    min-height: 250px;
    justify-content: flex-start;
}
.nav_menu_container > .main_menu {
    width: 100%;
    height: 170px;
}
.nav_menu_container > .playlist_menu {
    width: 100%;
    height: calc(100% - 170px);
    justify-content: center;
    overflow: scroll;
}

.gestione_utente {
    width: 100%;
    min-height: 90px;
    justify-content: flex-end;
}

/* main content */
.main_content {
    width: calc(100% - 300px);
    height: calc(100% - 90px);
    margin-left: 300px;
}

/* footer */
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 90px;
}

/* SMARTPHONE */
@media screen and (max-width:767px) {
    .main_nav {
        width: 60px;
    }
    .main_content {
    width: calc(100% - 60px);
    margin-left: 60px;
    }
}

/* debug */
.wrapper {
    background-color: red;
}
.main_nav {
    background-color: blue;
}
.nav_menu_container {
    background-color: darkolivegreen;
}
.nav_menu_container > .main_menu {
    background-color: cornflowerblue;
}
.nav_menu_container > .playlist_menu {
    background-color: rgb(129, 230, 183);
}
.main_nav > .gestione_utente {
    background-color: rgb(11, 202, 202);
}
.main_content {
    background-color: yellow;
}
footer {
    background-color: pink;
}